.shop {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navbar {
  width: 100%;
  grid-column: 1/4;
}

.shopTitle {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  grid-column: 1/4;
}
.products {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/4;
}
.product {
  height: 350px;
  margin: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 380px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 0px 0px 17px black;
}

.product .description {
  text-align: center;
  margin: 11px 0px;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

.footer {
  background-color: black;
  display: grid;
  color: white;
  font-size: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column: 1/6;
  padding: 25px;
}

.footer-contact {
  grid-column: 1/2;
  text-align: center;
}

.footer-help {
  grid-column: 2/3;
  text-align: center;
}

.footer-services {
  grid-column: 3/4;
  text-align: center;
}

.footer-about {
  grid-column: 4/5;
  text-align: center;
}

.footer-help ul li,
.footer-services ul li,
.footer-about ul li {
  list-style: none;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 100%;
  }
  .products {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .footer-help,
  .footer-services,
  .footer-about {
    margin: 10px;
  }
}
